<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="FastDevelopmentEAR">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="FastDevelopment.war" deploy-path="/" handle="module:/resource/FastDevelopment/FastDevelopment">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="FastDevelopmentEJB.jar" deploy-path="/" handle="module:/resource/FastDevelopmentEJB/FastDevelopmentEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
