
/* COFIGURACIONES DE SIDENAV */

/*
PALETA DE COLORES

NEGRO
BLANCO
CAFE


*/


.sidenav {
  height: 150%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3384c7;
  overflow-x: hidden;
  padding-top: 50px;
  border: border-primary;
  
}

.col-centered{

    float: none;
    margin: 0 auto;
}
.col-centered a:hover{

    background-color: #7eb1db;
}

  .sidenav a {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    border: rgb(216, 216, 216);
   
  }
    .sidenav a:hover {
      color: #f1f1f1;
      transition: 1s;
      
    }
      .container-fluid{
          background-color: #111;
          color: #181818;
      }
          .sidenav .p{
            font-size: 15px;
            transition: 2s;
          }

  .row{
    color: #181818;
  }
 
  .card-header{
    color: #3384c7;    
  }

.container-fluid{

  background-color: #d4dbdd;
}
  
html,header,body,section{ 

  background-color: rgb(228, 228, 228);
}

section{

  
  padding-left: 270px;
  padding-right: 30px;;

}

.s{
  background-color: rgb(196, 196, 196);
  padding-left: 20px;
  padding-right: 20px;

}

.l{
  background-color: rgb(228, 228, 228);
  padding-left: 20px;
  padding-right: 20px;


}

